
 {{!< usrnv1}}
 

 {{#if am}}
 <style>
.text-xs{
  font-size: 1.7em!important;
  font-weight:400!important;
}

 </style>
 
 
 {{/if}}
<link href="../stylesheets/css/sb-admin.css" rel="stylesheet">

            <!-- Earnings (Monthly) Card Example -->
            <style>
              .ulft {margin-left: 42em!important;}
              .lft {
    margin-left: 0.5rem!important;
    margin-right: 0rem!important;
}
              .g-5, .gy-5 {
    --bs-gutter-y: 0rem!important;
}
  .mt-5, .my-5 {
    margin-top: -6rem !important;
}
</style>
{{#if ab}}
<style>
  .fa-circle{
    position: absolute;
    z-index: 0;
    top: 1rem;
    right: 1rem;
    font-size: 1.7rem;
   color: rgb(226, 132, 24)!important;
    
}
.brf {
    position: absolute;
    z-index: 0;
    top: 1rem!important;
    right: 0rem!important;
    font-size: 1.9rem;
   color: rgb(226, 132, 24)!important;
    
}
.brff {
    position: absolute;
    z-index: 0;
    top: 1.1rem!important;
    right: .17rem!important;
    font-size: 1.7rem;
   color: rgb(226, 132, 24)!important;
    
}
.shp {
    position: absolute;
    z-index: 0;
    top: 1rem!important;
    right: 0rem!important;
    font-size: 1.9rem;
   color: rgb(226, 132, 24)!important;
    
}
.shpp {
    
    z-index: 0;
    top: 1.1rem!important;
    right: .17rem!important;
    font-size: 1.7rem;
   color: rgb(226, 132, 24)!important;
    
}
h7{
  position: absolute;
    z-index: 0;
    top: .5rem;
    right: .9rem;
    font-size: 11px;
    color: #000;
    font-weight: 800;
    font-family: sans-serif;
}
.fa-bell{
  font-size:3.5rem ;
}
.fa-shopping-cart{
  font-size:3.5rem ;
}
.fa-briefcase{
  font-size:3.5rem ;
}
  
  .suc {
    color: #000!important;
}.inff {
    color: #000!important;
}.war {
    color: #000!important;
}
.bg-dan {
    background-color: green!important;
}.navbar-brand {color: #fff!important;}</style>{{/if}}
<style>
  
  .my-5 {
        margin-left: 15em;
}</style>


            <div class="col-xl-3 col-md-6 mb-4">
              
             
            </div>

           
            <!-- Pending Requests Card Example -->
           

          <!-- Content Row -->

         

          <!-- Content Row -->
          <div class="row g-5" >
               <div class="col-md-5 col-lg-4 order-md-last">
       

      <aside class="bd-aside sticky-xl-top text-muted align-self-start mb-3 mb-xl-5 px-2">
  <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">How to's</h2>
  <nav class="small" id="toc">
    <ul class="list-unstyled">
     <h6 class="border-bottom pb-2 mb-0">Suggestions</h6>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Full Name</strong>
          <a href="#">Follow</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Full Name</strong>
          <a href="#">Follow</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
    <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
        <div class="d-flex justify-content-between">
          <strong class="text-gray-dark">Full Name</strong>
          <a href="#">Follow</a>
        </div>
        <span class="d-block">@username</span>
      </div>
    </div>
    <small class="d-block text-end mt-3">
      <a href="#">All suggestions</a>
    </small>
    </ul>
  </nav>
</aside>
 
        
        

      </div>
        <div class="col-md-7 col-lg-8">
          
        
          
        <div class="bd-example">
        <div class="nav-scroller bg-body shadow-sm">
  <nav class="nav nav-underline" aria-label="Secondary navigation">
    <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
    <a class="nav-link" href="#">
      Friends
      <span class="badge bg-light text-dark rounded-pill align-text-bottom">27</span>
    </a>
    <a class="nav-link" href="#">Explore</a>
    <a class="nav-link" href="#">Suggestions</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    <a class="nav-link" href="#">Link</a>
    
  </nav>
</div>
 <div class="d-flex text-muted pt-3">
      <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>

      <p class="pb-3 mb-0 small lh-sm border-bottom">
         {{#if msgtx}}
        <strong class="d-block text-gray-dark">@{{this.msgtx.sender_name}}</strong>
        
       {{this.msgtx.messages}}  {{/if}}
      </p>
    </div>
    <div class="d-flex text-muted pt-3">
      

      <p class="pb-3 mb-0 small lh-sm border-bottom">
        <strong class="d-block text-gray-dark " style="margin-left: 41em;">@username</strong>
        Some more representative placeholder content, related to this other user. Another status update, perhaps.
      </p>
      <img src="{{this.ppf}}" alt="mdo" width="32" height="32" width="32" height="32" class="bd-placeholder-img flex-shrink-0 me-2 lft rounded">
     
    </div>
        <div class="tab-content" id="nav-tabContent">
        
          
                <nav>
             
              
       
     
                     {{#if msgtx}}
            <div class="accordion-body">
                <strong>{{this.msgtx.sender_name}}</strong> <br>{{this.msgtx.messages}} 
              </div>
        
<div class="input-group">
  <form class="input-group" action="snd" method="post">
          <span class="input-group-text">Reply</span>
         
          <input class="form-control" name="msg" aria-label="With textarea">
          <input type="hidden" name="snid" value="{{this.msgtx.snid}}">  {{/if}}
          <input class="input-group-text" type="submit" value="send">
           </form>
        </div>
         
         
       
        </nav></div>

      </div>
         </div>
         </div>
          <div class="row">
            
            <!-- Content Column -->
           
              
            </div>

            <div class="col-lg-6 mb-4">

              <!-- Illustrations -->
              

              <!-- Approach -->
             

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    
    

