
    

     {{!< usrnvad}}       
    
  <!-- Transactions content -->
   <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><br><br>
          <h2 style="margin-left: 7em; margin-top: -1em; color:#663366;">Online</h2>
      <div class="table-responsive" style="margin-left: 15em;">
       <table class="table table-striped table-sm " id="dataTable" width="100%" cellspacing="0" >

          <thead>
         <tr style="background-color: #663366;">
                        <th><h7 style="color:#ffc107">Cust. ID</h7></th>
                        <th><h7 style="color:#ffc107">Email</h7> </th>
                        <th><h7 style="color:#ffc107">data</h7></th>
                        
                        <th><h7 style="color:#ffc107">Info</h7></th>
                        <th><h7 style="color:#ffc107">History</h7></th>
                         
                        
                    </thead>
                   

     <tbody > 
        
        {{#if dats}}
        {{#each dats}}
        <tr>
            <td>{{this.logid}} </td>
            <td>{{this.email}}</td>
           
            
            <td>{{this.das}}</td>
            
           
            
            <td><a href="/order?t_id={{this.trans_id}}">View</a></td>
            <td><a href="../logon/history?ssid={{this.logid}}">View</a></td>
            

            
           
        </tr>
       
       {{/each}}
        </tbody>
        
        {{else}}
            
                <p id="none"><h3 style="color: crimson;"> No one is oline! :(</h3></p>
            {{/if}}
       
     </table>
     
     <ul class="list-inline">
      <li class="list-inline-item"><a href="#">English</a></li>
      <li class="list-inline-item"><a href="#">አማርኛ</a></li>
      <li class="list-inline-item"><a href="#">Oromiffa</a></li>
      <li class="list-inline-item"><a href="#">somali</a></li>
      <li class="list-inline-item"><a href="#">ትግረኛ</a></li>
    </ul>
      </div>
       </div>
</div>

    </main>
 
 