
    

 {{!< usrnv1}}
 

 <style>.my-5 {
        margin-left: 15em;
}</style>
  <!-- Transactions content -->
   <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
     <br><br>
          <h2 style="margin-left: 0em; margin-top: -1em; ;">Orders</h2>
      <div class="table-responsive" style="margin-left: 0em;">
       <table class="table table-hover table-sm " id="dataTable" width="100%" cellspacing="0" >

          <thead>
         <tr class="trhd">
                        <th><h7 style="color:#ffc107">Order. ID</h7></th>
                         <th><h7 style="color:#ffc107">Order. date</h7></th>
                        <th><h7 style="color:#ffc107">Item name</h7> </th>
                        <th><h7 style="color:#ffc107">Quantity</h7></th>
                        <th><h7 style="color:#ffc107">Price</h7></th>
                         
                        
                    </thead>
                   

     <tbody > 
        
        {{#if data}}
        {{#each data}}
        <tr>
            <td>{{this.or_id}} </td>
            <td>{{this.or_date}} </td>
            <td>{{this.it_name}}</td>
            <td>{{this.it_quantity}}</td>
            
            <td>{{this.it_price}}</td>
            
           
        </tr>
       {{/each}}
        </tbody>
        
        {{else}}
            
                <p id="none"> No results found :(</p>
            {{/if}}
       
     </table>
     
     
      </div>
       </div>
</div>

    </main>
 
 