<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.83.1">
    <title>Ezpay-signup</title>
<script src="public/javascripts/jquery/jquery.min.js"></script>
    

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="stylesheets/cheatsheet.css" rel="stylesheet">
    
  </head>

  <body class="bg-light">
    
<header class="bd-header bg-dark py-3 d-flex align-items-stretch border-bottom border-dark">
  <div class="container-fluid d-flex align-items-center">
    <h1 class="d-flex align-items-center fs-4 text-white mb-0">
      <img src="../assets/brand/bootstrap-logo-white.svg" width="38" height="30" class="me-3" alt="Bootstrap">
      Ezpay 
    </h1>
    <a href="../examples/cheatsheet-rtl/" class="ms-auto link-light" hreflang="ar">Sign up form</a>
  </div>
</header>
<aside class="bd-aside sticky-xl-top text-muted align-self-start mb-3 mb-xl-5 px-2">
  <h2 class="h6 pt-4 pb-3 mb-4 border-bottom">Help topics</h2>
  <nav class="small" id="toc">
    <ul class="list-unstyled">
      <li class="my-2">
        <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#contents-collapse" aria-controls="contents-collapse">Contents</button>
        <ul class="list-unstyled ps-3 collapse" id="contents-collapse">
          <li><a class="d-inline-flex align-items-center rounded" href="#typography">Typography</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#images">Images</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#tables">Tables</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#figures">Figures</a></li>
        </ul>
      </li>
      <li class="my-2">
        <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#forms-collapse" aria-controls="forms-collapse">Forms</button>
        <ul class="list-unstyled ps-3 collapse" id="forms-collapse">
          <li><a class="d-inline-flex align-items-center rounded" href="#overview">Overview</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#disabled-forms">Disabled forms</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#sizing">Sizing</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#input-group">Input group</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#floating-labels">Floating labels</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#validation">Validation</a></li>
        </ul>
      </li>
      <li class="my-2">
        <button class="btn d-inline-flex align-items-center collapsed" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#components-collapse" aria-controls="components-collapse">Components</button>
        <ul class="list-unstyled ps-3 collapse" id="components-collapse">
          <li><a class="d-inline-flex align-items-center rounded" href="#accordion">Accordion</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#alerts">Alerts</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#badge">Badge</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#breadcrumb">Breadcrumb</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#buttons">Buttons</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#button-group">Button group</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#card">Card</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#carousel">Carousel</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#dropdowns">Dropdowns</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#list-group">List group</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#modal">Modal</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#navs">Navs</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#navbar">Navbar</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#pagination">Pagination</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#popovers">Popovers</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#progress">Progress</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#scrollspy">Scrollspy</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#spinners">Spinners</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#toasts">Toasts</a></li>
          <li><a class="d-inline-flex align-items-center rounded" href="#tooltips">Tooltips</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</aside>
<div class="bd-cheatsheet container-fluid bg-body">
  

    <section id="content">
    <h2 class="sticky-xl-top fw-bold pt-3 pt-xl-5 pb-2 pb-xl-3"></h2> </section><br>
    
    
    

  <section id="forms">
    

    
    
   
    <article class="my-3" id="validation">
      <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3>Basic info</h3>
        <a class="d-flex align-items-center" href="../forms/validation/">Documentation</a>
      </div>

      <div>
        <div class="bd-example">
         <div class="col-md-12">
            {{# if errors }}
              {{# each errors }}
                <p class="alert alert-danger">{{ this.msg }}</p>
              {{/each}}
            {{/if}} </div>
        <form class="row g-3" name="signup" action="logon/signup" method="POST">
          <div class="col-md-4">
            <label for="validationServer01" class="form-label">First name</label>
            <input type="text" name="fname" class="form-control" id="validationServer01" value="Mark" placeholder="Mark" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationServer02" class="form-label">Middle name</label>
            <input type="text" name="mname" class="form-control" id="validationServer02" value="Marks" placeholder="Otto" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationServerUsername" class="form-label">Last name</label>
            <div class="input-group has-validation">
              
              <input type="text" class="form-control" name="lname" id="validationServer03" value="Markee" aria-describedby="inputGroupPrepend3" required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationServer01" class="form-label">Date of birth</label>
            <input type="text" name="dob" class="form-control" id="validationServer04" value="Mark" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationServer02" class="form-label">Gender</label>
            <input type="text" name="gender" class="form-control" id="validationServer05" value="Otto" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
         
          <div class="col-sm-6" id="mail">
              <label for="firstName" class="form-label">Email</label>
               <input type="text" name="mail" class="form-control" id="validationServer06" placeholder="" value="" required>
              {{# if errors }}
              
              <input type="text" name="mail" class="form-control is-invalid"  placeholder=""  required="">
              <div class="invalid-feedback">
                {{this.emsg}}
              </div>
              
            {{/if}}
              
            </div>
          <div class="col-sm-6">
              <label for="firstName" class="form-label">Phone number</label>
              <input type="text" name="phno" class="form-control" id="validationServer07" placeholder="" value="6565" required="">
              {{#if errors }}
              {{#each errors }}
              <input type="text" name="phno" class="form-control is-invalid"  placeholder="" value='{{this.val}}' required="">
              <div class="invalid-feedback">
                {{this.pmsg}}
              </div>
              {{/each}}
              {{else}}
            {{/if}}
              

          </div>
          <div class="col-12">
              <label for="address" class="form-label">Address</label>
              <input type="text" name="addr1" class="form-control" id="validationServer08" value="878686" placeholder="1234 Main St" required="">
              {{# if errors }}
              {{# each errors }}
              <input type="text" name="addr1" class="form-control is-invalid" value="878hg686" placeholder="" value={{this.aval}} required="">
              <div class="invalid-feedback">
                {{this.amsg}}
              </div>
              {{/each}}
            {{/if}}
              </div>
            <div class="col-12">
              <label for="address2" class="form-label">Address 2 <span class="text-muted">(Optional)</span></label>
              <input type="text" name="addr2" class="form-control" id="validationServer09" value="Apartment or suite" placeholder="Apartment or suite">
            </div>
          <div class="col-md-6">
            <label for="validationServer03" class="form-label">City</label>
            <input type="text" name="city" class="form-control is-invalid"  value="aa" id="validationServer10" required>
            {{# if errors }}
            {{# each errors }}
            <div class="invalid-feedback">
              Please provide your city.
            </div>{{/each}}  {{else}}
            
            {{/if}}

          </div>
          <div class="col-md-3">
            <label for="validationServer04" class="form-label">State</label>
            <select class="form-select is-invalid" name="state" id="validationServer11" required>
              <option selected disabled value="">Choose...</option>
              <option>Addis ababa</option>
            </select>
            <div class="invalid-feedback">
              Please select a valid state.
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationServer05" class="form-label">Zip</label>
            <input type="text" name="zip" class="form-control is-invalid" id="validationServer12" required>
            <div class="invalid-feedback">
              Please provide a valid zip.
            </div>
          </div>
          <div class="col-md-4" id='unme'>
            <label for="validationServer01" class="form-label">User name</label>
            <input type="text" name="uname" class="form-control" id="validationServer13" value="benny" placeholder="Mark" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationServer02" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="validationServer14" value="dgdg" placeholder="Otto" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationServer02" class="form-label"> Confirm Password</label>
            <input type="password" name="password2" class="form-control" id="validationServer15" value="hffh" placeholder="Otto" required>
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationServerUsername" class="form-label">PIN</label>
            <div class="input-group has-validation">
              
              <input type="password" class="form-control" name="pin" value="jhgfdd" id="validationServer16" aria-describedby="inputGroupPrepend3" required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
              
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationServerUsername" class="form-label">Confirm PIN</label>
            <div class="input-group has-validation">
              
              <input type="password" class="form-control" name="pin2" value="1234" id="validationServer17" aria-describedby="inputGroupPrepend3" required>
              <div class="invalid-feedback">
                Please choose a username.
              </div>
              
            </div>
          </div>
          <div class="col-12">
            <div class="form-check">
              <input class="form-check-input is-invalid" name="toc" type="checkbox" value="" id="validationServer18" required>
              <label class="form-check-label" for="invalidCheck3">
                Agree to terms and conditions
              </label>
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="btn btn-primary" id='submit' type="submit">Submit form</button>
          </div>
        </form>
        </div>
      </div>
    </article>
  </section>

  
</div>


    <script src="javascripts/assets/dist/js/bootstrap.bundle.min.js"></script>

      <script src="javascripts/cheatsheet.js"></script>
  </body>
</html>